$color-1: #424874;
$color-2: #a6b1e1;
$color-3: #dcd6f7;
$color-4: #f4eeff;
$red: #E74C3C;

.color-1{
    color: $color-1 !important;
}
.color-2{
    color: $color-2 !important;
}
.color-3{
    color: $color-3 !important;
}
.color-4{
    color: $color-4 !important;
}
.bg-1{
    background-color: $color-1 !important;
}
.bg-2{
    background-color: $color-2 !important;
}
.bg-3{
    background-color: $color-3 !important;
}
.bg-4{
    background-color: $color-4 !important;
}
.border-color-1{
    border-color: $color-1 !important;
}
.border-color-2{
    border-color: $color-2 !important;
}
.border-color-3{
    border-color: $color-3 !important;
}
.border-color-4{
    border-color: $color-4 !important;
}

.color-red{
    color: #E74C3C !important;
}