@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.main-font-reg {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
}
.main-font-bold {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
}
.secnd-font-reg {
    font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    @extend .main-font-reg;
}
p,
a,
* {
    @extend .secnd-font-reg;
}
.font-big{
    font-size: 2rem !important;
}
