.product-list {
    .item {
        height: 250px;
        overflow: hidden;
        &:hover {
            cursor: pointer;
            .content {
                top: 0%;
                transition: all 1s;
            }
        }
        img {
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
        .content {
            top: 100%;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgb(166, 177, 225, 0.4);
            transition: all 1s;
        }
    }
}
