.index-slide{
    min-height: 80vh;
    background-size: cover;
    h1{
        font-size: 8rem;
    }
}
.slide-page{
    min-height: 30vh;
    background-size: cover;
    h1{
        font-size: 10rem;
        font-weight: bold;
    }
}